{% extends 'base.html' %}
{% load static %}
 {% block style %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/budget.css' %}">
 {% endblock style %}
 {% block start %}
 <header>
    <h1>Budget Customization</h1>
  </header>

  <main>
    <div class="budget-form">
      <label for="monthly-income">Monthly Income:</label>
      <input type="number" id="monthly-income" placeholder="Enter your monthly income">

      <label for="housing-expenses">Housing Expenses:</label>
      <input type="number" id="housing-expenses" placeholder="Enter your housing expenses">

      <label for="food-expenses">Food Expenses:</label>
      <input type="number" id="food-expenses" placeholder="Enter your food expenses">

      <label for="entertainment-expenses">Entertainment Expenses:</label>
      <input type="number" id="entertainment-expenses" placeholder="Enter your entertainment expenses">

      <button onclick="calculateBudget()">Calculate</button>
    </div>
  </main>

  <script src="{% static 'js/budget.js' %}">
    
  </script>

 {% endblock start %}