<!-- dashboard.html -->
{% extends 'base.html' %}
{% load static %}
{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'css/dashboardstyle.css' %}">
{% endblock style%}
{% block start %}
  <main>
    <div class="container">
      <div class="card total-budget-card">
        <h2>Total Budget</h2>
        <canvas></canvas>
      </div>
      <div class="card expenses-card">
        <h2>Expenses</h2>
        <canvas></canvas>
      </div>
      <div class="card savings-card">
        <h2>Savings</h2>
        <canvas></canvas>
      </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'js/dashboardscript.js' %}"></script>

{% endblock start %}
