{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/expense.css' %}">
{% endblock %}

{% block headerh1 %}
  Expense Management
{% endblock headerh1 %}
{% block start %}
<main>
  <div class="budget-form">
    <h2>Add Budget</h2>
    {% if messages %}
    {% for message in messages %}
    <p style="color:red;">{{ message }}</p>
    {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'savebudget' %}">
      {% csrf_token %}

      <label for="monthly-income">Budget Name:</label>
      <input type="text" id="budget-name" name="budget-name" placeholder="Enter budget name(eg. monthly budget, vacation budget etc.)"><br>

      <label for="total-expenses">Total Amount:</label>
      <input type="number" id="monthly-income" name="monthly-income" placeholder="Enter your enter your total income">

      <label for="start_date">Start Date:</label>
      <input type="date" id="start_date" name="start_date" ><br>

      <label for="end_date">End Date:</label>
      <input type="date" id="end_date" name="end_date" ><br>

      <button type="submit">Save Budget</button>
    </form>
  </div>

  <div class="category-form">
    <h2>Set Categories</h2>
    <form method="POST" action = "{% url 'savecategory' %}">
      {% csrf_token %}
      <label for="category-name">Category Name:</label>
      <input type="text" id="category-name" name="category_name" placeholder="Enter category name">

      <label for="budget">Select Budget:</label>
        <select id="budget" name="budget">
            {% for budget in user_budgets %}
                <option value="{{ budget.id }}">{{ budget.budget_name }}</option>
            {% endfor %}
        </select>
  
      <button type="submit">Add Category</button>
    </form>
     
  </div>
  

  <div class="budget-allocation-form">
    <h2>Set Budget Allocation</h2>
    <form method="POST" action="{% url 'savecategory' %}">
        {% csrf_token %}
        <input type="hidden" id="category-name" name="category_name" value="{{ category_name }}">
        <label for="category">Select Category:</label>
        <select id="category" name="category">
            <option value="" disabled selected>Select a category</option>
            {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>

        <label for="budget-amount">Budget Amount:</label>
        <input type="number" id="budget-amount" name="budget_amount" placeholder="Enter budget amount">

        <button type="submit">Allocate Budget</button>
    </form>
  </div>
  
  
</main>
<div class="budget-table-container">
  <div class="budget-table">
    <h2>Budget Details</h2>
    <table>
      <thead>
        <tr>
          <th>Budget Name</th>
          <th>Categories</th>
          <th>Budget Amount</th>
          <th>Allocated Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for budget in user_budgets %}
        <tr>
          <td>{{ budget.budget_name }}</td>
          <td>
            {% for category in budget.category_set.all %}
            {{ category.category_name }}<br>
            {% endfor %}
          </td>
          <td>${{ budget.monthly_income }}</td>
          <td>
            {% for category in budget.category_set.all %}
            ${{ category.allocated_amount }}<br>
            {% endfor %}
          </td>
          <td>
            {% for category in budget.category_set.all %}
              <form method="post" action="{% url 'delete_category' category.id %}" class="delete-form">
                {% csrf_token %}
                <input type="submit" value="Delete" class="delete-button">
              </form>
              {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


<script src="{% static 'js/expense.js' %}"></script>
{% endblock %}
